html,
body {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	font-family: "Poppins", sans-serif;
}

/* NOTE: GENERAL */
.link {
	text-decoration: none;
}

.link:visited {
	text-decoration: none;
	color: #000;
}

::selection {
	color: #f2f2f2;
	background-color: #62676b;
}

button {
	font-family: inherit;
}

input {
	font-family: inherit;
}

a,
a:visited {
	text-decoration: none;
	color: #000;
}

/* NOTE: NAVBAR/HEADER */
.user-btn {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.login-btn {
	background-color: transparent;
}

.signup-btn {
	background-color: #e0e0e0;
	border-radius: 5px;
}

.nav {
	position: fixed;
	background-color: white;
}

.main-nav {
	width: 100%;
}

.main-nav .container {
	float: right;
	padding-top: 15px;
	padding-right: 40px;
}

.main-title {
	font-weight: 900;
	padding-left: 40px;
	letter-spacing: 0.05em;
}

.main-title.homepage {
	font-size: 36px;
}

.main-title .emphasis {
	font-style: italic;
}

.nav.second-nav {
	width: 65%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.second-nav .main-title {
	font-size: 24px;
	padding-bottom: 20px;
	text-decoration: none !important;
}

/* NOTE: HOMEPAGE MAIN CONTENT */
.main-content .background-img {
	height: 100vh;
	width: 100vw;
	background-image: url(./images/korea.jpeg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.main-content .subtitle {
	font-weight: bold;
	font-size: 64px;
	padding-top: calc(100vh - (100vh / 1.5));
	color: #ffffff;
	text-align: center;
}

/* NOTE: FOOTER */
.footer.main {
	position: fixed;
	width: 100%;
	height: 50px;
	bottom: 0;
	background: #ffffff;
	text-align: end;
}

.footer .container {
	margin-right: 25px;
	margin-top: 12px;
}

.footer .icon-css {
	padding-right: 20px;
	vertical-align: middle;
	cursor: pointer;
}

.copyright {
	font-size: 12px;
}

.footer.user {
	position: fixed;
	width: 100%;
	height: 8.7%;
	bottom: 0;
	background: #ffffff;
	text-align: end;
	border-top: 5px solid #f2f2f2;
}

.footer.user .container {
	padding-top: 5px;
}

.footer.user .name {
	font-weight: 900;
	font-size: 24px;
}

/* LOGIN PAGE */
.login-page {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-image: url(./images/nyc.jpeg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.login-signup {
	margin-top: 55px;
	height: 100%;
	padding-left: 65%;
}

.login-signup-container {
	height: 100%;
	background-color: white;
	text-align: center;
	padding-top: 22vh;
}

.login-signup-container .title {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
}

.login-signup-container input {
	border-radius: 5px;
	border: 1px solid #62676b;
	width: 17vw;
	height: 5vh;
	font-weight: 300;
	display: block;
	margin: auto;
	text-indent: 16px;
}

.login-signup input:nth-child(1) {
	margin-top: 26px;
}

.login-signup input {
	margin-top: 15px;
}

.login-signup-container button {
	background: #0f43f9;
	border-radius: 8px;
	color: white;
	border: none;
	width: 17.36vw;
	height: 5.1vh;
	font-size: 16px;
	font-weight: bold;
	font-family: "Poppins";
	display: block;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 26px !important;
	cursor: pointer;
}

.login-signup-container .alt {
	font-size: 14px;
	margin-top: 9px;
}

.login-signup-container .alt .link {
	font-weight: bold;
}

/* NOTE: SIGNUP PAGE */
.signup-page {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-image: url(./images/tokyo.jpeg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

/* DASHBOARD */
.dashboard {
	position: relative;
	height: 100vh;
	width: 100vw;
}

.dashboard .info.container {
	position: absolute;
	left: 3em;
	top: 5em;
	width: 31vw;
	height: 64.3vh;
	text-align: center;
}

.dashboard .info.container .user {
	display: flex;
	justify-content: center;
}

.dashboard .info.container .user .name {
	position: absolute;
	font-weight: bold;
	font-size: 1.5em;
	width: max-content;
}

.dashboard .info.container .user .joined.text {
	position: absolute;
	font-size: 0.875em;
	width: max-content;
	margin-top: 3em;
}

.dashboard .info.container .user .total-trips.text {
	position: absolute;
	font-size: 0.875em;
	width: max-content;
	margin-top: 5em;
}

.logout-btn.container {
	position: absolute;
	margin-top: 6em;
	margin-bottom: 3em;
}

.dashboard .info.container .upcoming-trip.title {
	position: absolute;
	/* margin-top: 30em; */
	margin-top: 24em;
}

.next-trip-container {
	position: absolute;
	width: 14em;
	padding: 1em;
	background: #0f43f9;
	color: white;
	border-radius: 20px;
	/* margin-top: 32em; */
	margin-top: 26em;
	z-index: -1;
}

.next-trip-container .circle {
	position: absolute;
	height: 3em;
	width: 3em;
	background-color: white;
	border-radius: 50%;
	font-weight: bold;
	left: 1.5em;
	top: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.next-trip-container .circle .text {
	position: absolute;
	color: #0f43f9;
}

.next-trip-container .text {
	font-size: 0.875em;
	color: orange;
}

.upcoming-text {
	text-align: end;
	font-size: 0.875em;
}

.logout-btn {
	background: #f2f2f2;
	color: #0f43f9;
	border: none;
	padding: 0.25em 0.75em 0.25em 0.75em;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
}

.new-trip-btn {
	position: absolute;
	padding: 0.5em 0.75em 0.5em 0.75em;
	right: 10vw;
	top: 4em;
	background: #0f43f9;
	color: white;
	border: none;
	border-radius: 8px;
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
}

.all-trips-container {
	position: absolute;
	left: 35vw;
	top: 8em;
}

.all-trips-container .titles {
	font-weight: bold;
}

/* NOTE: CALENDAR */
.MuiPickerStaticWrapper-root.css-1snvurg-MuiPickerStaticWrapper-root {
	margin-top: 8em;
	z-index: -1;
}

.MuiButtonBase-root.Mui-disabled.MuiPickersDay-root.Mui-selected.MuiPickersDay-dayWithMargin.MuiPickersDay-today.css-1oo08n3-MuiButtonBase-root-MuiPickersDay-root {
	/* background-color: #0f43f9;
	color: white !important; */
	border: solid 2px rgb(15, 67, 249);
}

.MuiButtonBase-root.Mui-disabled.MuiPickersDay-root.Mui-selected.MuiPickersDay-dayWithMargin.MuiPickersDay-today.css-1mtjxtk-MuiButtonBase-root-MuiPickersDay-root
	.MuiButtonBase-root.Mui-disabled.MuiPickersDay-root.MuiPickersDay-dayWithMargin.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root {
	color: #62676b;
}

.css-k008qs * {
	display: none;
}

.MuiCalendarPicker-root.css-169iwlq-MuiCalendarPicker-root {
	background: #f2f2f2;
	transform: scale(0.85);
	border-radius: 15px;
}

.MuiButtonBase-root.Mui-disabled.MuiPickersDay-root.MuiPickersDay-dayWithMargin.css-dekaj2-MuiButtonBase-root-MuiPickersDay-root {
	background-color: inherit;
}

.MuiTypography-root.MuiTypography-caption.css-1d8508y-MuiTypography-root {
	color: #0f43f9;
}

.MuiButtonBase-root.Mui-disabled.MuiPickersDay-root.MuiPickersDay-dayWithMargin.css-dekaj2-MuiButtonBase-root-MuiPickersDay-root {
	color: #62676b;
}

.css-1brzq0m {
	margin-top: 6em;
}

.css-1dozdou {
	/* padding-top: 2em; */
	padding-top: 8em;
}

.css-ktxc6a {
	margin-left: 4.5em;
}

.css-ktxc6a * {
	font-weight: bold;
	cursor: default;
}

.ReactModal__Body--open .css-ktxc6a {
	margin: 0;
}

.ReactModal__Body--open .css-k008qs * {
	display: block;
}

.PrivatePickersFadeTransitionGroup-root.MuiCalendarPicker-viewTransitionContainer.css-1wvgxus-MuiCalendarPicker-viewTransitionContainer {
	overflow: hidden;
}

/* NOTE: TRIP CARDS */
.trip-card.container {
	/* left: 0; */
	display: inline-block;
	white-space: nowrap;
}

.trip-card {
	font-size: 0.875em;
	width: 20em;
	min-width: min-content;
	margin-right: 1em;
	height: 10em;
	text-align: start;
}

.trip-card .title {
	font-size: 0.9rem;
}

.past-trips-container {
	margin-top: 2em;
}

/* MODALS */
.hide-modal.btn {
	float: right !important;
	position: sticky;
	top: 1em;
	right: 2em;
	z-index: 2;
}

.error-container {
	position: relative;
	font-size: 1.5rem;
	font-weight: 500;
	text-align: center;
	margin-top: 10em;
}

/* NEW TRIP FORM */
.ReactModal__Overlay.ReactModal__Overlay--after-open {
	position: relative;
}

.ReactModal__Content.ReactModal__Content--after-open {
	position: absolute;
	border-radius: 15px !important;
	height: 40em;
	width: 50em;
	margin: auto;
}

.new-trip-form {
	height: 90%;
	border-radius: 5px;
	text-align: center;
}

.new-trip-form .title {
	padding-top: 7em;
	font-weight: bold;
	font-size: 1.5em;
}

.materialui-daterange-picker-MuiGrid-root-35 {
	display: none !important;
}

.trip-name {
	background-color: #f2f2f2;
	width: 20em;
}

.trip-dates {
	display: flex;
	margin-left: 9.2em;
}

.MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
	margin-top: 2em;
	background-color: #f2f2f2;
}

.submit-btn {
	margin-top: 2em;
}

/* NOTE: TRIP SHOW MODAL */
.quick-info-container {
	position: sticky;
	top: 0;
	background-color: white;
	border-bottom: 3px solid #e0e0e0;
	z-index: 1;
	padding: 2em 0 2em 4em;
}

.quick-info {
	width: max-content;
}

.show-page .title {
	font-weight: bold;
	font-size: 1.5em;
}

.show-page .subtitle-1 {
	font-size: 1.125em;
	font-weight: bold;
}

.show-page .subtitle-2 {
	font-size: 0.875em;
}

.show-page .details {
	margin-top: 1em;
	margin-left: 4em;
}

.new-place-form
	.MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
	margin: 1em 0 1em 0;
}

.new-place-form
	.MuiOutlinedInput-input.MuiInputBase-input.MuiInputBase-inputSizeSmall.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
	width: 20em;
}

.add-btn {
	margin-top: 0.7em !important;
}

.place-list {
	line-height: 0.75em;
}

.d-day {
	color: #0f43f9;
	font-weight: 500;
}
