body {
	font-family: "Poppins", sans-serif;
}

.btn-link {
	text-decoration: none;
}

.link:visited {
	text-decoration: none;
	color: #000;
}

.login-btn {
	background-color: transparent;
}

.signup-btn {
	background-color: #e0e0e0;
}
