body {
	font-family: "Poppins", sans-serif;
}
.link:visited {
	text-decoration: none;
	color: #000;
}

.btn-link {
	text-decoration: none;
}

.login-btn {
	background-color: transparent;
}

.signup-btn {
	background-color: #e0e0e0;
}

.main-title {
	font-weight: 900;
	font-size: 36px;
}
